@page
@model EEMG.Pages.AdminModel
@{
}

<link rel="stylesheet" href="~/css/admin_page.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/admin-events.css" />
<link rel="stylesheet" href="~/css/site.css" />

@*<div class="nav navbar-fixed-top navbar-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#events-tab" data-toggle="tab">Event Information</a></li>
            <li><a href="#users-tab" data-toggle="tab">Users Information</a></li>
        </ul>
    </div>*@


<ul class="nav nav-pills myTabs" role="tablist">
    <li class="nav-item active">
        <a class="nav-link active" href="#events-tab" aria-current="page" data-toggle="tab" role="tab">Event Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#users-tab" data-toggle="tab" role="tab">Users Information</a>
    </li>
</ul>

<hr />

<div class="tab-content">
    <div id="events-tab" class="tab-pane fade show active show" role="tabpanel">
        <div>
            <div class="row">
                <div class="col-sm-4">
                    @*<button class="btn btn-info" id="add-event"> Add Event </button>*@
                    <a asp-area="" asp-action="AddEvent" asp-controller="Admin" class="btn btn-info">Create Event</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" style="margin-top: 2%;">
                    <a asp-area="" asp-action="ShowUsersAtEventFromAdmin" asp-controller="Events" class="btn btn-info"> View Upcoming Event Report</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" style="margin-top: 2%;">
                    <a asp-area="" asp-page="/CreateEmailForEvent" class="btn btn-info"> Send Latest Event Email</a>
                </div>
            </div>
        </div>

        <hr>

        <div>
            <div>
                @foreach (Event eve in Model.AllEvents)
                {
                    <div class="card">
                        <div class="card-body">
                            <label class="card-title"> @eve.EventTitle</label>
                            <br>
                            <b> @eve.EventDate.ToShortDateString() </b>
                            <div>
                                <a asp-area="" asp-controller="Admin" asp-route-eventId="@eve.Id" asp-action="ArchiveEvent" class="btn btn-info">Archive Event</a>
                                <a asp-area="" asp-controller="Admin" asp-route-eventId="@eve.Id" asp-action="EditEvent" class="btn btn-info">Edit Event</a>
                                @*<div style="float:right; margin-left:-20%">
                                    <a asp-area="" asp-controller="Events" asp-route-id="@@event.Id" asp-action="EventSignUp" class="btn btn-info">Sign up for Event!</a>
                                </div>*@
                            </div>


                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>

    <div id="users-tab" class="tab-pane fade" role="tabpanel">
        <div>
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-info" id="reset-all-memberships"> Reset (Clear) All Memberships</button>
                    @*<a asp-area="" asp-action="ResetAllMemberships" asp-controller="Admin" class="btn btn-info">Reset All Memberships</a>*@
                </div>
            </div>
        </div>

        <hr />
        <h1> User Information </h1>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th> User Email </th>
                        <th> Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td> @user.UserName</td>
                        <td> @user.RoleName</td>
                        <td style="text-align:center;">
                            @if (user.RoleName != "Member")
                            {
                                <button class="btn btn-primary btn-xs" id="change-membership" value="@user.UserId"> Make Member</button>
                            }
                            else
                            {
                                <button class="btn btn-dark btn-xs" value="@user.UserId" disabled> Make Member</button>
                            }
                        </td>
                        <td style="text-align:center;">
                            @if (!user.AlreadyOnMailingList)
                            {
                                <button class="btn btn-primary btn-xs" id="add-to-mailing-list" value="@user.Email"> Add to Mailing List </button>
                            }
                            else
                            {
                                <button class="btn btn-warning btn-xs" id="remove-from-mailing-list" value="@user.Email"> Remove from Mailing List </button>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/js/admin.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
